.All{
    margin-top: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.066), rgba(255, 255, 255, 0.066)), url('../../assets/21\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    text-align: center;
    background-color: black;
    position: relative;
}

.Aboutus{
    color: #6DADF3;
    font-size: 4vw;
    margin: 0;
}


.History{
    color: #F26339;
    font-size: 4vw;
}

.Theme{
    color: #FCE502;
    font-size: 4vw;
}

.Aboutbackgroundtext::before{
    content: "ABOUT US";
    color: transparent;
    -webkit-text-stroke: 0.13px #2d3339;
    position: absolute;
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%) scale(4.5); /* Center the text both vertically and horizontally */
    padding-bottom: 70px;
    margin-top: 0;
}
.Historybackgroundtext::before{
    content: "HISTORY";
    color: transparent;
    -webkit-text-stroke: 0.13px #312724;
    position: absolute;
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%) scale(4.5); /* Center the text both vertically and horizontally */
    padding-bottom: 70px;
}
.Themebackgroundtext::before{
    content: "THEME";
    color: transparent;
    -webkit-text-stroke: 0.13px #2e2c1d;
    position: absolute;
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%) scale(4.5); /* Center the text both vertically and horizontally */
    padding-bottom: 70px;
}

.p1,
.p2,
.p3{
    color: white;
    text-wrap: wrap;
    justify-content: center;
    font-family: Outfit;
    font-size: 1.6rem;
    font-weight: 500px;
    line-height: 1;
    letter-spacing: 0.17rem;
    width: 70%; /* Adjust the width of the box as needed */
    margin: 0 auto; /* Center the box horizontally */
    box-sizing: border-box; /* Include padding in the total width */
    text-align: center; /* Justify the text within the box */
    
}

.line1,
.line2{
   max-width: 0.7%;
   height: 250px;
   justify-content: center;
   align-items: center;
   margin: 80px auto; /* Center the images horizontally and add margin */
   display: block;
}

.knowmore {
    background-color: yellow;
    color: black;
    font-size: 25px;
    width: 15%;
    border-radius: 5px; /* Add border-radius for rounded corners */
    justify-content: center;
    text-align: center;
    margin-left: 1%;
    margin-top: 5%;
    padding: 5px;
    font-weight: 200;
}

.button{
    padding-top: 20px;
    padding-bottom: 5%;
}

.HistoryLine{
    margin-top: 1px;
    padding-top: 0%;
    width: 60%;
}

.AboutusLine{
    margin-top: 1%;
    padding-top: 1%;
    width: 60%;
}

.ThemeLine{
    margin-top: 1px;
    padding-top: 0%;
    width: 60%;
}

  @media  (min-width: 320px) and (max-width: 1030px)   {
    
    .All{
      background-size: cover;
      position: relative;
    }
    
    .p1,
    .p2,
    .p3 {
      width: 90%;
    }
  
    .knowmore {
      width: 50%;
    }
  }

@media  (min-width:320px) and  (max-width: 350px) {
    
    .Aboutbackgroundtext::before,
    .Historybackgroundtext::before,
    .Themebackgroundtext::before{
        padding-bottom: 19px;
        transform: translate(-50%, -50%) scale(3.8);
    }
  }

  @media  (min-width:350px) and  (max-width: 410px) {
    
    .Aboutbackgroundtext::before{
        padding-bottom: 21.5px;
        transform: translate(-50%, -50%) scale(3.7);
    }

    .Historybackgroundtext::before,
    .Themebackgroundtext::before{
        padding-bottom: 22.5px;
        transform: translate(-50%, -50%) scale(3.8);
    }
  }

  @media  (min-width:410px) and  (max-width: 420px) {
    
    .Aboutbackgroundtext::before,
    .Historybackgroundtext::before,
    .Themebackgroundtext::before{
        padding-bottom: 26.5px;
        transform: translate(-50%, -50%) scale(3.6);
    }
  }

  @media  (min-width:420px) and  (max-width: 480px) {

    .Aboutbackgroundtext::before,
    .Historybackgroundtext::before,
    .Themebackgroundtext::before{
        padding-bottom: 27.3px;
        transform: translate(-50%, -50%) scale(3.6);
    }
  }

  @media  (min-width:480px) and  (max-width: 530px) {
    
    .Aboutbackgroundtext::before,
    .Historybackgroundtext::before,
    .Themebackgroundtext::before{
        padding-bottom: 30px;
        transform: translate(-50%, -50%) scale(3.6);
    }
  }

  @media  (min-width:530px) and  (max-width: 600px) {
    
    .Aboutbackgroundtext::before,
    .Historybackgroundtext::before,
    .Themebackgroundtext::before{
        padding-bottom: 33px;
        transform: translate(-50%, -50%) scale(3.6);
    }
  }

  @media  (min-width: 600px)  and  (max-width: 630px) {
    
    .Aboutbackgroundtext::before,
    .Historybackgroundtext::before,
    .Themebackgroundtext::before{
        padding-bottom: 36px;
        transform: translate(-50%, -50%) scale(3.7);
    }
  }

  @media  (min-width: 630px)  and  (max-width: 760px) {
    
    .Aboutbackgroundtext::before,
    .Historybackgroundtext::before,
    .Themebackgroundtext::before{
        padding-bottom: 42px;
        transform: translate(-50%, -50%) scale(3.7);
    }
  }

  @media  (min-width: 760px) and (max-width: 870px)   {
    
    .Aboutbackgroundtext::before,
    .Historybackgroundtext::before,
    .Themebackgroundtext::before{
        padding-bottom: 48px;
        transform: translate(-50%, -50%) scale(3.7);
    }
    
  }

  @media  (min-width: 870px) and (max-width: 1040px)   {

    .Aboutbackgroundtext::before,
    .Historybackgroundtext::before,
    .Themebackgroundtext::before{
        padding-bottom: 55px;
        transform: translate(-50%, -50%) scale(3.7);
    }
  }