@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.main-heading {
    width: 100%;
    max-width: 1796px;
    height: auto;
    position: absolute;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13vw;
    font-weight: 500;
    line-height: normal;
    opacity: 0.1;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFEE59;
    z-index: -1;
    /* top:-2vw; */
}

.main-heading-2 {
    position: relative;
    width: 90%;
    max-width: 500px;
    height: auto;
    color: #FFEE59;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 6vw;
    top: 2vw;
    left: 25.8vw;
}

.sub-heading-1,
.sub-heading-2,
.sub-heading-3,
.sub-heading-4,
.sub-heading-5,
.sub-heading-6,
.sub-heading-7 {
    position: relative;
    width: 90%;
    max-width: 600px;
    height: auto;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 2.5vw; /* Decreased font size for subheadings */
    top: 14vw; /* Increased top spacing for subheadings */
    left: 10vw;
    margin-top: 20vw;
    margin-bottom: 20vw;
}

.input-box,
.submit-button {
    width: 90%;
    max-width: 1600px;
    top: 18vw; /* Increased top spacing for input boxes and submit button */
    left: 10vw;
}

.input-box {
    position: relative;
    width: 80%;
    height: auto;
    border-radius: 10px;
    opacity: 0.6;
    border: 2px solid #8b8b8b;
    padding: 5px;
    background: #252525;
    color: white;
    left: 10vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 2vw;
}

.input-box-1,
.input-box-2,
.input-box-3,
.input-box-4,
.input-box-5,
.input-box-6{
    top: 14.7vw;
}

.input-box-7{
    top: 14.7vw;
    height: 45vh;
}

.submit-button {
    position: relative;
    width: 13vw;
    height: 4vw;
    border-radius: 10px;
    background-color: #FFEE59;
    color: #3A3A3A;
    font-family: 'Outfit', sans-serif;
    font-size: 2vw;
    font-weight: 400;
    line-height: normal;
    top: 16vw;
}

@media screen and (max-width: 767px) {
    .main-heading {
        font-size: 8vw;
    }

    .main-heading-2 {
        font-size: 4vw;
        top: 7.5vw;
        left: 5%;
    }

    .sub-heading-1,
    .sub-heading-2,
    .sub-heading-3,
    .sub-heading-4,
    .sub-heading-5,
    .sub-heading-6,
    .sub-heading-7{
        top:10vw;
    }

    .sub-heading-1,
    .sub-heading-2,
    .sub-heading-3,
    .sub-heading-4,
    .sub-heading-5,
    .sub-heading-6,
    .sub-heading-7,
    .input-box,
    .submit-button {
        width: 90%;
        /* max-width: 100%; */
    }

    .input-box {
        top: 12.5vw;
        width: 80%;
    }

    .input-box-7{
        height: 20vh;
    }

    .submit-button {
        top: 13vw;
        width: 80%;
    }
}
