@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    width: 1920px; 
    height: 2600px;
    /* width: 100%;
    height: 100vh; */
    background-image: url("https://s3-alpha-sig.figma.com/img/c852/0514/a17b9f8ed3f8b807ff12f89639a707f1?Expires=1705881600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Bq6BHkcgwEKdV7HyNSKzE7ASSnIxSD19vGTjUQF62aq7XzXtWdUfimwpvbbZseK2CglLhaA2bMyrgB-j4mRPX7ho5inuhpvdQJmZPTaodMMeYnuiDg93i5Y3FOQ6p218ohd4mvk9Nemivw7wCiUgWDiQKrpTNP5xvUSfwgUCR5rUhQJrxTb~ZumqwAwECrX~IM8Ala62HQxNhGayAvf8AiAa668jQ6VSOmor2AwpS9GeSB1gVsOxY59eHQ4rJoSb66zuYapSE~Cmivo7OJEdf0L8YYm2FtZuiZVUiuG6uNC7BQSRrZ4vC~rOTbURFBOG7BsVWyZfKpUXHXNAORynkw__");
    background-size: cover;
    perspective: 10000px; /* Adjust the perspective value as needed */
    position: relative;
    /* overflow: hidden; */
    min-width: 100%;
    min-height: 100%;
}

/* Pseudo-element for black overlay */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* width: 1920px;
    height: 2488px; */
    background-color: rgba(0, 0, 0, 0.9); /* Adjust the alpha value for transparency */
    z-index: -10; /* Ensure the overlay is above the background image */
}

.main-heading{
    width: 1796px;
    height: 382px;
    position: absolute;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 250px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.1;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFEE59;
    /* color: rgba(0, 0, 0, 0.9); */
    z-index: -1;

} 


.main-heading-2{
    position: relative;
    width: 599px;
    height: 127px;
    color: #FFEE59;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 100px;
    font-style: normal;
    /* font-weight: 500; */
    line-height: normal;
    top: 100px;
    left: 661px;
    right: 660px;
    bottom: 2241px;
}

.sub-heading-1{
    position: relative;
    top: 200px;
    left: 145px;
    right: 1417px;
    bottom: 2021px;
    color: #FFFFFF;
    width: 281px;
    height: 50px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sub-heading-2{
    position: relative;
    top: 300px;
    left: 145px;
    right: 1229px;
    bottom: 1808px;
    color: #FFFFFF;
    width: 281px;
    height: 50px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sub-heading-3{
    position: relative;
    top: 400px;
    left: 145px;
    right: 1390px;
    bottom: 1505px;
    color: #FFFFFF;
    width: 281px;
    height: 50px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sub-heading-4{
    position: relative;
    top: 500px;
    left: 145px;
    right: 1420px;
    bottom: 1382px;
    color: #FFFFFF;
    width: 281px;
    height: 50px;
    text-align: left;
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sub-heading-5{
    position: relative;
    top: 600px;
    left: 145px;
    right: 1448px;
    bottom: 1169px;
    color: #FFFFFF;
    width: 281px;
    height: 50px;
    text-align: left;
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sub-heading-6{
    position: relative;
    top: 700px;
    left: 145px;
    right: 1192px;
    bottom: 946px;
    color: #FFFFFF;
    width: 281px;
    height: 50px;
    text-align: left;
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sub-heading-7{
    position: relative;
    top: 800px;
    left: 145px;
    right: 994px;
    bottom: 723px;
    color: #FFFFFF;
    width: 281px;
    height: 50px;
    text-align: left;
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-box{
    position: relative;
    width: 1600px;
    height: 82px;
    border-radius: 10px;
    top: 350px;
    opacity: 0.6;
    /* border-color: white; */
    border: 2px solid #8b8b8b;
    padding: 5px;
    left: 145px;
    background: #252525;
    color: white;
    font-size: 30px;
    font-family: 'Outfit', sans-serif;
}

.input-box-1{
    top:250px;
}
.input-box-2{
    top:350px;
}
.input-box-3{
    top:450px;
}
.input-box-4{
    top:550px;
}
.input-box-5{
    top:650px;
}
.input-box-6{
    top:750px;
}
.input-box-7{
    top:850px;
    height: 394px;
}


.submit-button{
    position: relative;
    width: 258px;
    height: 78px;
    border-radius: 10px;
    background-color: #FFEE59;
    color: #3A3A3A;
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top:900px;
    left: 145px;
}
