/* Navbar.module.css */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* overflow: hidden; */
    background-size: 95%;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}

nav{
    z-index: 1 !important;
    position: sticky;
}


/* Center the Navbar */
.links {
    display: flex;
    gap: 20px;
    margin-top: auto; /* Adjust to move the Navbar to the center */
    margin-bottom: auto; /* Adjust to move the Navbar to the center */
    justify-content: center;
    padding: 1rem 0;
    z-index: 1 !important; /* Add this to center the links horizontally */
}

.logo{
    object-fit: cover;
    height: 3rem;
    width: auto;
}

.links a {
    text-decoration: none;
    color: white;
}

.links a.active_class {
    font-weight: bold;
}

.links a.passive_class {
    font-weight: bold;
    margin-left: auto; /* Align to the right */
}

.registrations {
    margin-left: 90%;
    margin-right: 2%;
    order: -1;
}

/* Adjust the logo styling */
.logo {
    position: fixed;
    top: 10px; /* Adjust top position as needed */
    left: 10px; /* Adjust left position as needed */
    max-width: 90%;
    z-index: 1;
}


/* Add this media query for mobile responsiveness */
@media (max-width: 768px) {
    .links {
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: black;
        padding: 1rem;
        z-index: 1000;
        display: none; /* Hide links by default on small screens */
    }

    .links.show {
        display: flex;
    }

    .links a {
        margin: 10px 0;
    }

    .logo {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Add this rule to display the hamburger icon */
    .hamburger-icon {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 1001;
    }
}

@media (max-width: 480px) {
    .links {
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        /* background-color: black; */
        padding: 1rem;
        z-index: 1000;
        display: none; /* Hide links by default on small screens */
    }

    .links.show {
        display: flex;
    }

    .links a {
        margin: 10px 0;
    }

    .logo {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .hamburger-icon {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 1001;
    }
}

