/* Navbar.module.css */

* {
    box-sizing: border-box;
    font-family: 'Veto Sans'
}

/* Center the Navbar */
.links {
    display: flex;
    gap: 20px;
    margin-top: auto; /* Adjust to move the Navbar to the center */
    margin-bottom: auto; /* Adjust to move the Navbar to the center */
    justify-content: center; /* Add this to center the links horizontally */
    position: sticky;
}

.links a {
    text-decoration: none;
    color: white;
}

.links a.active_class {
    font-weight: bold;
}

.links a.passive_class {
    font-weight: bold;
    margin-left: auto; /* Align to the right */
}

.registrations {
    margin-left: 90%;
    margin-right: 2%;
    order: -1;
}

.logo {
    position: fixed;
    top: 10px; /* Adjust top position as needed */
    left: 10px; /* Adjust left position as needed */
    max-width: 90%;
    z-index: 1;
}
